<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/pollo.ico" type="image/x-icon">
    <title>Chickraming</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <header>
        <a href="#" class="huevo_lentes"><img src="../static/img/huevo_lentes.png" alt="Chickraming" class="huevo_lentes"></a>
        <a href="#"><h1 class="neon">Chickraming</h1></a>
        
    </header>
</body>
</html>
